/* --------------------------------------------------------------------------------------------------------------------------------------------------- 
    START Order Pages PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */

.Order_pages_tabs{
    margin-top: 40px;
}

.Order_pages_tabs .nav-link{
    background: #F5F5F5;
    border-radius: 6px;
    color: var(--text_color2);
    margin-right: 20px;
    padding: 8px 30px;
    margin-top: 0;
    margin-bottom: 30px;
}

.Order_pages_tabs .nav-link.active{
    background: var(--admin_bg);
}

/* add_product */

.add_product{
    margin-top: 30px;
}

.add_product .left{
    background: #F8F8F8;
    border-radius: 10px;
    padding: 20px;
}
